<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head.ejs')%>
</head>

<body class="not-auth">
  <main class="form-section path-<%= moduleSection %>">
    <div class="form-section__header">Marbust Accounts&reg; V. 2.0.0</div>
    <h1 class="form-section__title"><%= pageTitle %> <%- pageIcon %></h1>
    <div class="form-section__main">
      <%- include('pages/' + pagetoLoad) %>
    </div>
    <div class="form-section__copyright"><p>&copy; <%= new Date().getFullYear();%> <a href="https://marbust.com">Marbust Technology Company</a> - All Rights Reserved</p></div>
  </main>
</body>

</html>