<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head.ejs')%>
</head>

<body>
  <header>
    <%- include('includes/header.ejs')%>
  </header>
  <main class="path-<%= moduleSection %>">
    <%- include('pages/' + pagetoLoad) %>
  </main>
  <footer>
    <%- include('includes/footer.ejs')%>
  </footer>
</body>

</html>