  <div class="<%= moduleSection %>__form">
    <div class="wrapper">
      <h1>User Details</h1>
      <form action="/admin/user-details" method="POST">
        <p><input type="text" name="name" placeholder="Insert your name" value="<%= usr.name %>"<% if(!editing) {%>disabled<% }%>></p>
        <p><input type="text" name="email" placeholder="Insert your email"  value="<%= usr.email %>"></p>
        <p><input type="tel" name="phone" placeholder="Insert your phone number"  value="<%= usr.phone %>"></p>
        <button type="submit" class="btn">Change Data</button>
        <input name="form_action" value="edit" hidden>
        <input name="id" value="<%= usr.id %>" hidden>
      </form>
    </div>
  </div>